extends /layout/base
block variables
  -var pageTitle= 'Забронировать номер'
  -var logoPng = '/images/logo-title.png'

block content
  .wrapper_landingPage
    .find
      form(action="#", method="post").find-container
        .find-container-h1 Найдём номера под ваши пожелания  
        .find-container-dates
          .containerLeft
            .description Прибытие
            input#arrival(
            type="text"
            name="dateArrival"
            view="short"
            readonly = "true"
            placeholder = "ДД.ММ.ГГГГ"
            )
            button#button_arrival(type="button").dropbutton-short.dropbutton_close
          .containerRight
            .description Выезд
            input#leaving(
            type="text"
            name="dateLeaving"
            view="short"
            readonly = "true"
            placeholder = "ДД.ММ.ГГГГ"
            )
            button#button_leaving(type="button").dropbutton-short.dropbutton_close
        .find-container-guests
          .description Гости
          input(
          type="text"
          name="guests"
          view="long"
          readonly = "true"
          placeholder = "Сколько гостей"
          )
          button(type="button").dropbutton.dropbutton_close
          .dropMenu
            .item(data-guests-type='adult') Взрослые
              button(type="button").minus.minus-unactive -
              span 0
              button(type="button").plus +
            .item(data-guests-type='children') Дети
              button(type="button").minus.minus-unactive -
              span 0
              button(type="button").plus +
            .item(data-guests-type='baby') Младенцы
              button(type="button").minus.minus-unactive -
              span 0
              button(type="button").plus +
            .buttons-container
              button(type="button" data-guests-button='clear').button-purple_text Очистить
              button(type="button" data-guests-button='confirm').button-purple_text Применить
        .button-container
          button(type="submit").button-purple_long Подобрать номер
    .sub Лучшие номера для вашей работы, <br>отдыха и просто вдохновения
                
            
        





                
        
