extends /layout/base
include /includes/mixins
block variables
    -var pageTitle= 'Подходящие номера'
  
block content
  .wrapper_searchRoom
    .filter
      .dates
        .title.input_selected Даты пребывания в отеле
        input(
          type="text"
          name="dateArrival"
          view="middle"
          readonly = "true"
          placeholder = "19 авг - 23 авг"
          )
        button(type="button").dropbutton-middle.dropbutton_close
      .guests
        .title.input_selected Гости
        input(
          type="text"
          name="guests"
          view="middle"
          readonly = "true"
          placeholder = "3 Гостя, 1 младенец"
          )
        button(type="button").dropbutton-middle.dropbutton_close
        .dropMenu
          .item(data-listNumber='1') Взрослые
            button(type="button").minus.minus-unactive -
            span(data-startValue=3) 0
            button(type="button").plus +
          .item(data-listNumber='2') Дети
            button(type="button").minus.minus-unactive -
            span(data-startValue=0) 0
            button(type="button").plus +
          .item(data-listNumber='3') Младенцы
            button(type="button").minus.minus-unactive -
            span(data-startValue=1) 0
            button(type="button").plus +
          .buttons-container
            button(type="button" data-button='clear').button-purple_text Очистить
            button(type="button" data-button='confirm').button-purple_text Применить
      .price
        .title Диапазон цены
        .range-slider-container 
          input(type="text" class='slider-value' value='5 000P - 10 000P' readonly='true')
          .range-slider
        div Стоимость за сутки пребывания в номере
      .rules
        .title Правила дома
        .checkboxes-container
          +checkbox("Можно курить")
          +checkboxChecked("Можно с питомцами")
          +checkboxChecked("Можно пригласить гостей (до 10 человек)")
      .availability
        .title Доступность
        .checkboxes-container
          +checkboxWithDesc('Широкий коридор', 'Ширина коридоров в номере не  менее 91см.')
          +checkboxWithDesc('Помощник для инвалидов', 'На 1 этаже вас встретит специалист и проводит до номера')
      .facilities
        .title.input_selected Удобства номера
        input(
        type="text"
        name="facilities"
        view="middle"
        readonly = "true"
        placeholder = "2 спальни, 2 кровати..."
        )
        button(type="button").dropbutton-middle.dropbutton_close
        .dropMenu
          .item(data-listNumber='1') Спальни
            button(type="button").minus.minus-unactive -
            span(data-startValue=2) 0
            button(type="button").plus +
          .item(data-listNumber='2') Кровати
            button(type="button").minus.minus-unactive -
            span(data-startValue=2) 0
            button(type="button").plus +
          .buttons-container
            button(type="button" data-button='clear').button-purple_text Очистить
            button(type="button" data-button='confirm').button-purple_text Применить
      .more_facilities(attr="list").drop-list_closed
        .title Дополнительные удобства
        div(attr="list-hiden").checkboxes-container.hide
            +checkbox('Завтрак')
            +checkboxChecked('Письменный стол')
            +checkboxChecked('Cтул для кормления')
            +checkboxChecked('Кроватка')
            +checkbox('Телевизор')
            +checkbox('Шампунь')
            +checkbox('Телевизор')
            +checkbox('Шампунь')
    .rooms
      .h1 Номера, которые мы для вас подобрали
      .rooms-mainContainer
        +roomCart({
          number:'888',
          luxe:'true',
          price:'9 990',
          stars: '5',
          reviews: '145',
          images: '4', 
          srcImg1: '/images/room1.png'})
        +roomCart({
          number:'840',
          luxe:'',
          price:'9 990',
          stars: '4',
          reviews: '65',
          images: '1', 
          srcImg1: '/images/room2.png'})
        +roomCart({
          number:'980',
          luxe:'true',
          price:'8 500',
          stars: '3',
          reviews: '35',
          images: '1', 
          srcImg1: '/images/room3.png'})
        +roomCart({
          number:'856',
          luxe:'',
          price:'7 300',
          stars: '5',
          reviews: '19',
          images: '1', 
          srcImg1: '/images/room4.png'})
        +roomCart({
          number:'740',
          luxe:'',
          price:'6 000',
          stars: '4',
          reviews: '44',
          images: '1', 
          srcImg1: '/images/room5.png'})
        +roomCart({
          number:'982',
          luxe:'',
          price:'5 800',
          stars: '3',
          reviews: '56',
          images: '1', 
          srcImg1: '/images/room6.png'})
        +roomCart({
          number:'678',
          luxe:'',
          price:'5 500',
          stars: '5',
          reviews: '45',
          images: '1', 
          srcImg1: '/images/room7.png'})
        +roomCart({
          number:'450',
          luxe:'',
          price:'5 300',
          stars: '4',
          reviews: '39',
          images: '1', 
          srcImg1: '/images/room8.png'})
        +roomCart({
          number:'350',
          luxe:'',
          price:'5 000',
          stars: '3',
          reviews: '77',
          images: '1', 
          srcImg1: '/images/room9.png'})
        +roomCart({
          number:'666',
          luxe:'',
          price:'5 000',
          stars: '5',
          reviews: '25',
          images: '1', 
          srcImg1: '/images/room10.png'})
        +roomCart({
          number:'444',
          luxe:'',
          price:'5 000',
          stars: '3',
          reviews: '15',
          images: '1', 
          srcImg1: '/images/room11.png'})
        +roomCart({
          number:'352',
          luxe:'',
          price:'5 000',
          stars: '3',
          reviews: '55',
          images: '1', 
          srcImg1: '/images/room12.png'})
      .pagination-main-container
        .pagination-container
          a(href="#").pagination-container-page_number.pagination-container-page_number-current 1
          a(href="#").pagination-container-page_number 2
          a(href="#").pagination-container-page_number 3
          .pagination-container-page_number.pagination-container-page_number-unclick ...
          a(href="#").pagination-container-page_number 15
          a(href="#").pagination-container-page_number.pagination-container-page_number-next
        .pagination-container-discription 1 - 12 из 100+ вариантов аренды 
