mixin roomCart(data)
  .room-cart 
    .room-cart-slick
      if data.images=='4'
        img(src=data.srcImg1, alt="photo1")
        img(src=data.srcImg2, alt="photo2")
        img(src=data.srcImg3, alt="photo3")
        img(src=data.srcImg4, alt="photo4")
      if data.images=='3'
        img(src=data.srcImg1, alt="photo1")
        img(src=data.srcImg2, alt="photo2")
        img(src=data.srcImg3, alt="photo3")
      if data.images=='2'
        img(src=data.srcImg1, alt="photo1")
        img(src=data.srcImg2, alt="photo2")
      if data.images=='1'
        img(src=data.srcImg1, alt="photo1")
    .room-cart-number_and_price
      .number № 
        span=data.number
        if data.luxe=='true'
          span Люкс
      .price=data.price+'₽'
        span  в сутки
    .room-cart-raiting
      .room-cart-raiting-stars
        if data.stars=='5'
          span.active
          span.active
          span.active
          span.active
          span.active
        if data.stars=='4'
          span.active
          span.active
          span.active
          span.active
          span.pasive
        if data.stars=='3'
          span.active
          span.active
          span.active
          span.pasive
          span.pasive
        if data.stars=='2'
          span.active
          span.active
          span.pasive
          span.pasive
          span.pasive
        if data.stars=='1'
          span.active
          span.pasive
          span.pasive
          span.pasive
          span.pasive
      .room-cart-raiting-reviews=data.reviews
        span  Отзывов

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="Cards.scss")
    link(rel="stylesheet", href="datepicker/datepicker.css")
    link(rel="stylesheet", href="slick/slick.scss")
    link(rel="stylesheet", href="slick/slick-theme.scss")
    script(src="datepicker/datepicker.js" defer)   
    script(src="slick/slick.js" defer)
    script(src="Cards.js") 
    title= "Cards"
  body
    div.wrapper
      .logo
        img(src="../src/logo_background.svg", alt="logo")
      .column1
        .find
          form(action="#", method="post").find-container
            .find-container-h1 Найдём номера под ваши пожелания  
            .find-container-dates
              .containerLeft
                .description Прибытие
                input#arrival(
                type="text"
                name="dateShort"
                readonly = "true"
                placeholder = "ДД.ММ.ГГГГ"
                )
                button#button_arrival(type="button").dropbutton-short.dropbutton_close
              .containerRight
                .description Выезд
                input#leaving(
                type="text"
                name="dateShort"
                readonly = "true"
                placeholder = "ДД.ММ.ГГГГ"
                )
                button#button_leaving(type="button").dropbutton-short.dropbutton_close
            .find-container-guests
              .description Гости
              input#guests(
              type="text"
              name="guests"
              readonly = "true"
              placeholder = "Сколько гостей"
              )
              button#guests_button(type="button").dropbutton.dropbutton_close
              .dropMenu#dropMenu1
                .item(data-guests-type='adult') Взрослые
                  button(type="button").minus.minus-unactive -
                  span 0
                  button(type="button").plus +
                .item(data-guests-type='children') Дети
                  button(type="button").minus.minus-unactive -
                  span 0
                  button(type="button").plus +
                .item(data-guests-type='baby') Младенцы
                  button(type="button").minus.minus-unactive -
                  span 0
                  button(type="button").plus +
                .buttons-container
                  button(type="button" data-guests-button='clear').button-purple_text Очистить
                  button(type="button" data-guests-button='confirm').button-purple_text Применить
            .button-container
              button(type="submit").button-purple_long Подобрать номер
        .registration
          form(action="#", method="post").registration-container
            .registration-container-h1 Регистрация аккаунта
            .registration-container-fullName
              input(type="text" placeholder="Имя" name="name")
              input(type="text" placeholder="Фамилия" name="surname")
            .registration-container-gender
              .radiobutton-container
                label.radiobutton
                  input(type="radio" name="gender" checked='cheked')
                  span Мужчина  
              .radiobutton-container 
                label.radiobutton
                  input(type="radio" name="gender")
                  span Женщина
            .registration-container-dob
              .registration-container-dob-description Дата рождения
              input(type="text" name="DOB" placeholder = "ДД.ММ.ГГГГ")
            .registration-container-data
              .registration-container-data-description Данные для входа в сервис
              input(type="email" name="Email" placeholder = "Email")
              input(type="text" name="Password" placeholder = "Пароль")
              .switch-container
                label.switch
                  input(type="checkbox", name='offer')
                  span.slider
                  .desc Получать спецпредложения
              button(type="submit").button-purple_long Перейти к оплате
            .registration-container-login
              span Уже есть аккаунт на Toxin
              a(href="#").button-purple_frame Войти
      .column2
        .booking
          form(action="#", method="post").booking-container
            .booking-container-number_and_price
              .number № 
                span 888
                span Люкс
              .price 9 990₽ 
                span в сутки
            .booking-container-dates
              .containerLeft
                .description Прибытие
                input(
                type="text"
                name="dateShort"
                readonly = "true"
                placeholder = "19.08.2019"
                )
                button(type="button").dropbutton-short.dropbutton_close
              .containerRight
                .description Выезд
                input(
                type="text"
                name="dateShort"
                readonly = "true"
                placeholder = "23.08.2019"
                )
                button(type="button").dropbutton-short.dropbutton_close
            .booking-container-guests
              .description Гости
              input(
              type="text"
              name="guests"
              readonly = "true"
              placeholder = "3 гостя"
              )
              button(type="button").dropbutton.dropbutton_close
              .dropMenu
                .item Взрослые
                  button(type="button").minus.minus-unactive -
                  span 0
                  button(type="button").plus +
                .item Дети
                  button(type="button").minus.minus-unactive -
                  span 0
                  button(type="button").plus +
                .item Младенцы
                  button(type="button").minus.minus-unactive -
                  span 0
                  button(type="button").plus +
                .buttons-container
                  button(type="button").button-purple_text Очистить
                  button(type="button").button-purple_text Применить
            .booking-container-pay_detail
              .sum_for_days 
                .info 9 990₽ x 4 суток
                .count 39 960₽ 
              .services
                .info Сбор за услуги: скидка 2 179₽
                div(title='Ваша личная скидка').reference 
                .count 0₽
              .additional_services
                .info Сбор за дополнительные услуги
                div(title='Чаевые').reference 
                .count 300₽
            .booking-container-total
              .text Итого 
              .dots ......................................
               |.....................................
              .count 38 081₽
            .booking-container-button
              button(type="submit").button-purple_long Забронировать
        .login
          form(action="#", method="post").login-container
            .login-container-h1 Войти
            .login-container-data
              input(type="email" name="Email" placeholder = "Email")
              input(type="text" name="Password" placeholder = "Пароль")
            .login-container-button
              button(type="submit").button-purple_long Войти
            .login-container-registration
              span Нет аккаунта на Toxin?
              a(href="#").button-purple_frame Создать 
      .column3
        .datepickers-container
          .datepicker-page
            nav.datepicker--nav
              .datepicker--nav-action.data-action
                span.material-icons.arrows-calendar arrow_back
              .datepicker--nav-title Август 
                i 2019
              .datepicker--nav-action.data-action
                span.material-icons.arrows-calendar arrow_forward 
            .datepicker--content
              .datepicker--days.datepicker--body
                .datepicker--days-names
                    .datepicker--day-name Пн
                    .datepicker--day-name Вт
                    .datepicker--day-name Ср
                    .datepicker--day-name Чт
                    .datepicker--day-name Пт
                    .datepicker--day-name.-weekend- Сб
                    .datepicker--day-name.-weekend- Вс
                .datepicker--cells.datepicker--cells-days
                  .datepicker--cell.datepicker--cell-day.-other-month- 29
                  .datepicker--cell.datepicker--cell-day.-other-month- 30
                  .datepicker--cell.datepicker--cell-day.-other-month- 31
                  .datepicker--cell.datepicker--cell-day 1
                  .datepicker--cell.datepicker--cell-day 2
                  .datepicker--cell.datepicker--cell-day.-weekend- 3
                  .datepicker--cell.datepicker--cell-day.-weekend- 4
                  .datepicker--cell.datepicker--cell-day 5
                  .datepicker--cell.datepicker--cell-day 6
                  .datepicker--cell.datepicker--cell-day 7
                  .datepicker--cell.datepicker--cell-day.-current- 8
                  .datepicker--cell.datepicker--cell-day 9
                  .datepicker--cell.datepicker--cell-day.-weekend- 10
                  .datepicker--cell.datepicker--cell-day.-weekend- 11
                  .datepicker--cell.datepicker--cell-day 12
                  .datepicker--cell.datepicker--cell-day 13
                  .datepicker--cell.datepicker--cell-day 14
                  .datepicker--cell.datepicker--cell-day 15
                  .datepicker--cell.datepicker--cell-day 16
                  .datepicker--cell.datepicker--cell-day.-weekend- 17
                  .datepicker--cell.datepicker--cell-day.-weekend- 18
                  .datepicker--cell.datepicker--cell-day.-range-from-  19
                  .datepicker--cell.datepicker--cell-day.-in-range- 20
                  .datepicker--cell.datepicker--cell-day.-in-range- 21
                  .datepicker--cell.datepicker--cell-day.-in-range- 22
                  .datepicker--cell.datepicker--cell-day.-range-to-  23
                  .datepicker--cell.datepicker--cell-day.-weekend- 24
                  .datepicker--cell.datepicker--cell-day.-weekend- 25
                  .datepicker--cell.datepicker--cell-day 26
                  .datepicker--cell.datepicker--cell-day 27
                  .datepicker--cell.datepicker--cell-day 28
                  .datepicker--cell.datepicker--cell-day 29
                  .datepicker--cell.datepicker--cell-day 30
                  .datepicker--cell.datepicker--cell-day.-weekend- 31
                  .datepicker--cell.datepicker--cell-day.-weekend-.-other-month- 1
                .datepicker--buttons
                  .datepicker--button Применить
                  .datepicker--button Очистить
        +roomCart({
          number:'888',
          luxe:'true',
          price:'9 990',
          stars: '5',
          reviews: '145',
          images: '4', 
          srcImg1: '../src/room1.png'})
        +roomCart({
          number:'840',
          luxe:'false',
          price:'9 990',
          stars: '4',
          reviews: '65',
          images: '1', 
          srcImg1: '../src/room2.png'})
      a(href="../HeadersAndFooters/HeadersAndFooters.pug") HeadersAndFooters-->

            